.promo {
	position: relative;
	min-height: 100vh;
	background: url('../img/promo.jpg') 50%/cover no-repeat;
	padding: 205px 0 0 0;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		display: block;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.6);
		z-index: 1;
	}
	&__links {
		width: 250px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__link {
		line-height: 45px;
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		color: #fff;
		text-decoration: none;
		z-index: 5;
		&:hover {
			text-decoration: none;
			color: #fff;
		}
	}
	.title,
	.subtitle {
		text-align: left;
	}
		.subtitle {
		padding-left: 10px;
	}
}

