.skills {
	padding-top: 120px;
	.subtitle:before {
		left: 50%;
		transform: translateX(-50%);
	}
	&__technology {
		margin-bottom: 120px;
		padding: 60px 10px 0 10px;
		display: grid;
		grid-template-columns: repeat(4, 270px);
		gap: 13px;
	}
	.technology {
		&__item {
			padding: 25px;
			display: grid;
			grid-template-rows: 65px auto 1fr;
			align-items: center;
			row-gap: 15px;
			border: 1px #000 solid;
			border-radius: 3px;
		}
		&__name {
			font-size: 14px;
			line-height: 21px;
			font-weight: 700;
			align-self: start;
		}
		&__descr {
			font-size: 12px;
			font-weight: 500;
			align-self: start;
		}
	}
	&__level {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: auto;
		row-gap: 30px;
		column-gap: 45px;
		& .subtitle {
			text-align: left;
			padding-left: 10px;
			margin: 0;
			&::before {
				left: 0;
				top: -8px;	
				transform: translateX(0);
			}
		}
	}
	&-level {
		&__item {
			padding-top: 8px;
			height: 70px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		&__head {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&__value {
			font-size: 14px;
			font-weight: 500;
		}
		&__line {
			width: 100%;
			height: 14px;
			border-radius: 14px;
			background-color: #E8E4DE;
			& .actual {
				height: 100%;
				border-radius: 4px;
				background-color: $main-color;
			}
		}
	}
}