.btn {
	padding: 0 25px;
	line-height: 45px;
	background-color: $second-color;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	box-shadow: 1px 1px 5px #eee;
	&:hover {
		text-decoration: none;
		color: #fff;
	}
}