.title {
	position: relative;
	font-weight: 700;
	font-size: 36px;
	color: #000;
	line-height: 60px;
	text-align: center;
	z-index: 5;
	&_main {
		margin-bottom: 25px;
		width: 530px;
		font-size: 48px;
	}
}

.subtitle {
	position: relative;
	margin-bottom: 9px;
	font-weight: 700;
	font-size: 16px;
	color: #000;
	text-align: center;
	z-index: 5;
	@include circle;
}

.subtitle-14 {
	font-size: 14px;
	font-weight: 700;
}



.promo {
	.subtitle::before{
		background-color: $second-color;
	}
	.subtitle,
	.title {
		color: #fff;
	}
}